

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#search {
	position: relative;
}

#popup {
	background-color: #FFFFFF;
    left: 1px;
    position: absolute;
    top: 25px;
    width: 206px;
    border: 1px solid #000000;
    border-top: none;
    display: none;
}

#popup p {
	padding: 5px;
	margin: 0;
}

#popup p.search-hovered {
	background-color: #000099;
	color: #ffffff;
}
